.tabs {
    max-width: 744px;

    &__actions {
        display: flex;
        justify-content: space-between;
        height: 26px;
        margin: 10px;
        align-items: center;

        &-items {
            display: flex;

            &-separator {
                display: block;
                width: 1px;
                background-color: $light-gray;
                margin: 0 12px;
            }
        }
    }

    &__content {
        height: 784px;
        // overflow-y: scroll;
        background-color: $white;
        box-shadow: 0px 1px 4px 0px #1E1E1E1A;
        border-radius: 5px;
        padding: 15px;
    }
}