.user {
    max-width: 366px;
    max-height: 60px;
    background-color: $white;
    box-shadow: 0px 1px 4px 0px #3333334D;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;

    &__info {
        display: flex;
        align-items: center;

        &-photo {
            margin: 10px;
            width: 40px;
            height: 40px;
        }
    
        &-name {
            font-size: 16px;
            font-weight: normal;
        }

        input[type="checkbox"] {
            width: 18px;
            height: 18px;
            margin-left: 10px;
        }
    }

    &--primary {
        border-left: 3px solid $blue;
    }

    &--active {
        border: 1px solid $white;
        background-color: $bg-color;
    }

    svg {
        width: 16px;
        height: 16px;
        margin: 16px;
    }
}