@font-face {
    font-family: 'Stolzl';
    src: local('Stolzl Regular'), local('Stolzl-Regular'), url('./fonts/Stolzl-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}